
<body>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">EcoComunidade</h2>
          </div>
          <div class="card-body">
            <p>
          Este software faz parte da pesquisa entitulada "Uma proposta de solução tecnológica como contribuição ao desenvolvimento de cidades e comunidades inteligentes e sustentáveis, com foco nas áreas verdes públicas urbanas". foi desenvolvido com o intuito de auxiliar a comunidade a resolver problemas ambientais, como por exemplo, o descarte incorreto de lixo, a falta de arborização, entre outros.
            </p>
            <p>
              Todos os dados obtidos a partir do uso do software, pretendem ser utilizados para a pesquisa, com o intuito de melhorar a qualidade de vida da população.
            </p>
            <p><strong>Autor:</strong> Leonardo Henrique Juliano da Silva</p>
            <p><strong>Orientadora:</strong> Aracele Garcia de Oliveira Fassbinder </p>
            <p><strong>Curso:</strong> Bacharelado em Ciência da Computação</p>
            <p><strong>Instituição</strong> IFSULDEMINAS - Campus Muzambinho</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>