<div class="popup" id="popup">
  <div class="close-btn" (click)="endForm()">&times;</div>
  <div class="form">
    <h2>Registro</h2>
    <div class="form-element">
      <select name="" id="">
        <option value="">Banco Quebrado</option>
      </select>
      <select name="" id="">
        <option value="" disabled selected>PROBLEMA:</option>
        <option *ngFor="let problem of problems" value="">{{ problem }}</option>
      </select>
      <select name="" id="">
        <option value="" disabled selected>POSSÍVEL SOLUÇÃO:</option>
        <option value="">Banco Quebrado</option>
      </select>
  <button class="botao_registro" (click)="marker_city()">REGISTRAR</button>
</div>
