<div class="popup" id="popup">
  <div class="close-btn" (click)="endForm()">&times;</div>
  <div class="form">
    <h2>Registro</h2>
    <div class="form-element">
      <input type="text" placeholder="Localização">
      <input type="text" placeholder="Referência">
      <select name="" id="" placeholder="teste">
        <option value="">Banco Quebrado</option>
      </select>
      <select name="" id="">
        <option value="" disabled selected>PROBLEMA:</option>
        <option value="" *ngFor="let problems of problem"></option>
        <option value="">{{ problems }}</option>
      </select>
      <select name="" id="">
        <option value="" disabled selected>POSSÍVEL SOLUÇÃO:</option>
        <option value="">Banco Quebrado</option>
      </select>
      <select name="" id="">
        <option value="" disabled selected>ASSOCIAÇÃO DE BAIRRO</option>
        <option value="">Exercito do bem</option>
      </select>
      <input type="file" id="fileInput">

    </div>
    <video autoplay></video>
    <canvas></canvas>
    <button>Tirar foto</button>
  </div>

  <button class="botao_registro" (click)="marker_city()">REGISTRAR</button>
</div> 