.popup_details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 480px;
    padding: 20px 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 200ms, transform 0ms ease-in-out 200ms;
    z-index: 0; /* Defina o z-index padrão aqui */
    max-height: 60vh; /* Defina a altura máxima desejada (porcentagem da altura da janela) */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical quando necessário */
  }