<div class="botao" *ngIf="!show">
  <button type="button" class="botao_registrar" id="openPopup" (click)="open()">REGISTRAR</button>
</div>
<div id="map"></div>

<div class="popup" id="popup" *ngIf="show">
  <div class="close-btn" (click)="endForm()">&times;</div>
  <div class="form">
    <h2>Registro</h2>
    <div class="form-element">
      <div class="row">
        <label for="">Localização</label>
        <input type="text" placeholder="Localização" [(ngModel)]="location">
      </div>
      <div class="row">
        <label for="">Referência</label>
        <input type="text" placeholder="Referência" [(ngModel)]="reference">
      </div>
      <div class="row">
        <label for="">Qual o problema ? </label>
        <select name="" id="" [(ngModel)]="register_problem">
          <option value="">- Selecionar -</option>
          <option *ngFor="let s of problem" value="{{s.id}}">{{s.name}}
          </option>
        </select>
        <label for="">Possivel Solução: </label>
        <select name="" id="" [(ngModel)]="register_solution">
          <option value="">- Selecionar -</option>
          <option *ngFor="let s of solution" value="{{s.id}}">{{s.name}}
          </option>
        </select>
        <label for="">Associação de Bairro</label>
        <select name="" id="">
          <option value="" disabled selected></option>
          <option value="">Exército do Bem</option>
        </select>
      </div>
      <button class="botao_registro" (click)="CreateRegister()">REGISTRAR</button>
    </div>
  </div>
</div>