<div class="botao" *ngIf="!show">
  <button type="button" class="botao_registrar" id="openPopup" (click)="open()">REGISTRAR</button>
</div>
<div id="map"></div>

<div class="popup" id="popup" *ngIf="show">
  <div class="close-btn" (click)="endForm()">&times;</div>
  <div class="form">
    <h2>Registro</h2>
    <div class="form-element">
      <div class="row">
        <label for="">Qual o problema ? </label>
        <select name="" id="register_problem" [(ngModel)] = "register_problem" placeholder='teste'>
          <option *ngFor="let s of problem" value="{{s.name}}">{{s.name}}
          </option>
        </select>        
        <label for="">Descrição detalhada:</label>
        <input type="text" />
        <label for="">Localização:</label>
        <input type="text" [(ngModel)]="register_lat" value="{{lat}}" disabled>

        <label>Status</label>
        <select name="" id="" [(ngModel)]="register_status">
          <option *ngFor="let s of status" value="{{s.name}}">{{s.name}}
          </option>
        </select>
        <!-- <input type="file" (change)="handleFileInput($event)"> -->
      </div>
      <!-- <div *ngIf="photo">
        <webcam [height]="250" 
                [width]="250" 
                [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)">
         </webcam>
          
        <button class="actionBtn" (click)="triggerSnapshot();">
            Foto salva</button>
          
        <div class="snapshot" *ngIf="webcamImage">
          <h2>olha ai cabaço</h2>
          <img [src]="webcamImage.imageAsDataUrl"/>
        </div>
      </div> -->
      
      <button class="botao_registro" (click)="CreateRegister()">REGISTRAR</button>
      <button class="botao_registro" (click)="photoPrint()">TIRAR FOTO</button>

    </div>
  </div>
</div>

<!-- Popup de detalhes -->
<div class="popup_details" id="popup_details" *ngIf="show_details">
  <div class="close-btn" (click)="end_details()">&times;</div>
  <div class="form">
    <h2>Detalhes</h2>
    <div class="form-element">
      <div class="row">
        <label for="">Qual o problema ? </label>
        <select name="" id="register_problem" disabled>
          <option *ngFor="let s of problem" value="{{s.id}}">{{s.name}}</option>
        </select>        
        <label for="">Descrição detalhada:</label>
        <input type="text" value="{{s.description}}"/>
        <label>Status</label>        
        <select name="" id="" [(ngModel)]="register_status">
          <option value="">- Selecionar -</option>
          <option *ngFor="let s of status" value="{{s.id}}">{{s.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
