.menuOculto{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    right: 0;
    background-color: #00C88E;
    overflow: hidden;
    transition: 0.5s;    
    font-family: "Lato", sans-serif;
}
.list_menu{
    padding-top:200px;
    display: block
}
a{
    color: #ffffff;
    top: 50px;
    font-size: 22px;
    text-decoration: none;
}

.menuOculto{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #888;
    display: block;
    transition: 0.3s; 
}

.menuOculto a:hover{
    color: #ffffff;

}

.menuOculto .btnFechar{
    position:absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 0;

}

#principal{
    padding: 16px;
    transition: margin-left 0,5s;
    background-color: #00C88E;
    z-index: 1;
}

@media screen and(max-heigth: 450px) {
    .menuOculto{padding-top: 15px;}
    .meniOculto{font-size: 18 ;}
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00C88E;
  }