<aside id="menuOculto" class="menuOculto">
  <div class="btnFechar">
    <a href="" (click)="endNav()">&times;</a>
  </div>  
  <div class="list_menu">
    <a href="#" ><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> BUSCAR ÁREAS VERDES</a><br>
    <a href="#" ><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i> REGISTRAR PROBLEMAS</a><br>
    <a href="#" ><i class="fa-solid fa-file-check" style="color: #ffffff;"></i> SOLUCIONAR</a><br>
    <a href="#" ><i class="fa-solid fa-book-open-cover" style="color: #ffffff;"></i> GUIA</a><br>
    <a href="#" ><i class="fa-solid fa-comments" style="color: #ffffff;"></i> CANAL DE RELACIONAMENTO</a><br>
    <a href="#" > <i class="fa-solid fa-solid fa-hand-holding-seedling" style="color: #ffffff;"></i> ASSOCIAÇÕES PARCEIRAS</a><br>
  </div>


</aside>

<section id="principal">
  <div class="menu">
    <div class="container">
      <i class="fa-solid fa-bars" style="color: #ffffff;" (click)="openNav()" style="cursor:pointer"></i>
      <img src="../../../assets/img/logo.png" alt="">
    </div>
  </div>
</section>