<!-- <aside id="menuOculto" class="menuOculto">
  <div class="btnFechar">
    <a href="" (click)="endNav()">&times;</a>
  </div>  
  <div class="list_menu">
    <a href="#" ><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> BUSCAR ÁREAS VERDES</a><br>
    <a href="#" ><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i> REGISTRAR PROBLEMAS</a><br>
    <a href="#" ><i class="fa-solid fa-file-check" style="color: #ffffff;"></i> SOLUCIONAR</a><br>
    <a href="#" ><i class="fa-solid fa-book-open-cover" style="color: #ffffff;"></i> GUIA</a><br>
    <a href="#" ><i class="fa-solid fa-comments" style="color: #ffffff;"></i> CANAL DE RELACIONAMENTO</a><br>
    <a href="#" > <i class="fa-solid fa-solid fa-hand-holding-seedling" style="color: #ffffff;"></i> ASSOCIAÇÕES PARCEIRAS</a><br>
  </div>


</aside>

<section id="principal">
  <div class="menu">
    <div class="container">
      <i class="fa-solid fa-bars" style="color: #ffffff;" (click)="openNav()" style="cursor:pointer"></i>
      <img src="../../../assets/img/logo.png" alt="">
    </div>
  </div>
</section> -->


<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container" (click)="toggleCollapse()">
    <button class="logo">A</button>
    <div class="logo-text" *ngIf="collapsed" (click)="closeSidenav()">EcoComunidade</div>
    <button class="btn-close" *ngIf="collapsed">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routerLink]">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf = "collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>