.container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%; /* Defina uma largura máxima para manter a legibilidade em telas maiores */
  width: 100%; /* Ocupar toda a largura disponível */
  box-sizing: border-box; /* Incluir padding e borda na largura total */
}

.login input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Ocupar toda a largura do container */
  max-width: 300px; /* Defina uma largura máxima para evitar que fique muito largo em telas maiores */
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%; /* Defina uma largura máxima para manter a legibilidade em telas maiores */
  width: 100%; /* Ocupar toda a largura disponível */
  box-sizing: border-box; /* Incluir padding e borda na largura total */
}

.buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Ocupar toda a largura do container */
  max-width: 300px; /* Defina uma largura máxima para evitar que fique muito largo em telas maiores */
}

.buttons p {
  margin-top: 10px;
}

img {
  max-width: 100%; /* Garantir que a imagem não exceda a largura do container pai */
  height: 150px; /* Manter a proporção original da imagem */
}
