  <div class="container">
    <div class="img_logo">
      <img src="./../../../assets/img/logo_login.png" alt="">
    </div>
    <div class="login">
      <input type="text" placeholder="Usuario" name="email" [(ngModel)]="email">
      <input type="password" placeholder="Senha"name="password" [(ngModel)]="password">
    </div>
    <div class="buttons">
      <button class="btn btn-success" (click)="auth.login(this.email, this.password)">Entrar</button>
      <button class="btn btn-success" (click)="redirect()">Criar Conta</button>
      <button class="btn btn" style="background-color: #F68003; color: #FFFFFF;"(click)="redirect_colaborator()">Seja um colaborador</button>
      <!-- <p>Esqueci Minha Senha</p> -->
    </div>
  </div>