
.container{
    background-color: antiquewhite;
    border-radius: 10px;
   
    align-items: center;
    justify-content: center;
    padding: 100px;
}


.login{
    justify-content: center;
    display: flex;
    align-items: row;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

}
