<div class="container">
  <div class="img_logo">
    <img src="./../../../assets/img/logo_login.png" alt="">
  </div>
  <div class="city">
    <select name="" id="" (change)="getGrennAreas()" [(ngModel)]="citySelected">
      <option value=""> - Selecionar Cidade</option>
      <option *ngFor="let o of cities" [value]="o.code">{{ o.name }} - ( {{o.UF}} )</option>
    </select>
    <select name="" id="">
      <option value=""> - Selecione a Área Verde </option>
      <option *ngFor="let i of greenSelected" [value]="i.code">{{ i.name }}</option>
    </select>
  </div>
  <div class="buttons">
    <button class="btn btn-success" (click)="onCityChange()">Buscar minha localização atual</button>
  </div>
  <div class="buttons">
    <button class="btn btn-success" (click)="getGrennAreas()">continuar</button>
  </div>
</div>