<div class="container">
  <div class="img_logo">
    <img src="./../../../assets/img/logo_login.png" alt="">
  </div>
  <div class="city">
    <select (change)="getGrennAreas()" [(ngModel)]="citySelected">
      <option value=""> - Selecionar Cidade</option>
      <option *ngFor="let o of cities" [value]="o.code">{{ o.name }} - ( {{o.UF}} )</option>
    </select>
    <select  [(ngModel)]="greenSelected" *ngIf="citySelected">
      <!-- <option value=""> - Selecionar Area Verde </option> -->
      <option *ngFor="let i of greenSelected" [value]="i.code">{{ i.name }}</option>
    </select>
  </div>
  <div class="buttons">
    <button class="btn btn-success" (click)="getLocation()">Buscar minha localização atual</button>
    <button class="btn btn-success" (click)="sendParam()">Continuar</button>
    <button class="btn btn-success" style="background-color: #F68003; color: #FFFFFF;" (click)="redirect()">Cadastrar Área Verde Pública</button>
  </div>
</div>