<body>

<div class="container mt-5" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center" >
          <div class="card-header">
            <strong>Vestuário e Acessórios</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">Estilo Vkings</h5>
            <p class="card-text">Acumule <strong>150 pontos</strong> e ganhe <strong>15% de desconto</strong></p>
          </div>
          <div class="card-footer text-muted">
            <p class="card-text">Válido até: <strong> 15/12/2024</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container mt-5" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center" >
          <div class="card-header">
            <strong>Açougue</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">Açougue Arnaldo</h5>
            <p class="card-text">Acumule <strong>280 pontos</strong> e ganhe <strong>10% de desconto</strong></p>
          </div>
          <div class="card-footer text-muted">
            <p class="card-text">Válido até: <strong> 10/01/2024</strong></p>
          </div>
        </div>

      </div>
      
    </div>
  </div>
<div class="container mt-5" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center" >
          <div class="card-header">
            <strong>Mercearia</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">Marquinho Carnes e Mercearia</h5>
            <p class="card-text">Acumule <strong>250 pontos</strong> e ganhe <strong>15% de desconto</strong></p>
          </div>
          <div class="card-footer text-muted">
            <p class="card-text">Válido até: <strong> 20/12/2024</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

    
</body>

<!-- <body>

  <div class="container">
    <div class="message-box">
      <p>Infelizmente, ainda não temos estabelecimentos parceiros nesta região. Estamos trabalhando para expandir nossa rede e oferecer benefícios exclusivos em breve.</p>
      <button (click)="sendEmail()">Receber Atualizações</button>
    </div>
  </div>

</body> -->
